*{
	margin:0;
	box-sizing: border-box;
	padding: 0;
}
body{
	background-color: #FFB6C1;
}
header h1{
	text-align: center;
	color: 	#000080;
	font-family: Times New Roman Georgia;
	font-weight: bold;
	font-size: 48px;
	background-color: #FA8072;
	margin-top: 20px;
	margin-bottom: 20px;
}
p{
	position: relative;
	top: 250px;
}
div article{
	font-size: 18px;
	text-align:justify;
	margin-right: 80px;
	font-family: Times New Roman Georgia;
	font-family: bold;
}
.picture{
	margin-left: 45px;
}

.kamakhya{
	width: 30%;
	height: 300px;
	background-image: url('images/kamakhya1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin:10px;
	border: 2px solid black;
}
.kamakhya p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.kamakhya:hover p{
	display: block;
}

.navagraha{
	width: 30%;
	height: 300px;
	background-image: url('images/navagraha.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin:10px;
	border: 2px solid black
}
.navagraha p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.navagraha:hover p{
	display: block
}


.umananda{
	width: 30%;
	height: 300px;
	background-image: url('images/umananda.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin:10px;
	border: 2px solid black
}
.umananda p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.umananda:hover p{
	display: block
}


.doul{
	width: 30%;
	height: 300px;
	background-image: url('images/doul.jpg');
	background-repeat: no-repeat;
	float: left;
	margin:10px;
	border: 2px solid black
}
.doul p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.doul:hover p{
	display: block
}


.balaji{
	width: 30%;
	height: 300px;
	background-image: url('images/balaji.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin:10px;
	border: 2px solid black
}

.balaji p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.balaji:hover p{
	display: block
}
.basistha{
	width: 30%;
	height: 300px;
	background-image: url('images/basistha.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin:10px;
	border: 2px solid black;
}
.basistha p{
	display: none;
	background-color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.basistha:hover p{
	display: block
}
.art{
	width: 90%
	height:300px;
	background-color: red;
	float: left; 
}

